<div class="menu-container">
  <ul>
    @for (item of items; track item.label; let i = $index) {
      <li [class.has-submenu]="item.submenu">
        <a href="javascript:void(0)"
           (click)="onItemClick(item, $event)"
           #submenuTrigger
           [class.has-submenu]="item.submenu">
          {{ item.label }}
        </a>
        @if (item.submenu) {
          <div #submenuContainer>
            <app-submenu [items]="item.submenu"></app-submenu>
          </div>
        }
      </li>
    }
  </ul>
</div>
